<!-- Property Binding Practices -->

<!-- Simple Example -->
<p>Simple Example</p>
<input type="text" name="" id="" [value]="dynamic">
<br><br>

<!-- Another Way to Use -->
<p>Another Way to Use</p>
<input type="text" name="" id="" bind-value="dynamic">


<!-- Difference Between String Interpolation & Property Binding  
   String Interpolation is only used for string 

   Property Binding is we can use non-string values also
-->
<br><br>
<!-- If we do true or false in disabled property it will remain as disable it will
   not change or we do it dynamically using string still it will not change.
  So we have to apply property binding in it  -->

  <p>Disable with string Interpolation will not work</p>
<input type="text" disabled="true" name="" id="" [value]="dynamic">
<br><br>

<!--We applied property binding for disabled -->

<p>We applied property binding for disabled</p>
<input type="text" [disabled]="false" name="" id="" [value]="dynamic">
<br><br>
<!-- We applied property binding for hidden -->
<p>We applied property binding for hidden</p>
<input type="text" [hidden]="false" name="" id="" [value]="dynamic">
<br><br>
<!-- We applied property binding for hidden dynamically-->
<p>We applied property binding for hidden dynamically</p>
<input type="text" [hidden]="enable" name="" id="" [value]="dynamic">
<br><br>

<!-- We applied property binding for disabled dynamically-->
<!-- By Using !enable it simply means oppsoite of the output enable -->
<p>We applied property binding for disable dynamically</p>
<input type="text" [hidden]="enable" name="" id="" [value]="dynamic">
<br><br>

<!-- We can also use ternary operator in property binding -->
<p>Ternary Operator with property binding</p>
<input type="text"  name="" id="" [value]="appstatus? status1 : status2">
